amqp==5.3.1
asgiref==3.12.1
billiard==4.2.4
brotli==1.2.0
celery==5.6.3
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.0
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cssselect2==0.9.0
Django==6.0.7
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
fonttools==4.63.0
idna==3.18
inflection==0.5.1
kombu==5.6.2
packaging==26.2
pillow==12.3.0
prompt_toolkit==3.0.53
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pyphen==0.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.3.post1
PyYAML==6.0.3
redis==8.1.0
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
